{% extends 'main/base.html' %}
{% load crispy_forms_tags %}  <!-- Load crispy_forms_tags -->

{% block title %}Create Customer{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% block content %}
<h2>কাস্টমার যোগ করুন</h2> <i class="material-icons" style="font-size:36px">add</i>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}  <!-- Use crispy filter -->
    <button type="submit" class="btn btn-success">যোগ করুন</button>
    <button type="submit" class="btn btn-danger" onclick="window.location.href='{% url 'view_customer' %}'">বাতিল</button>
</form>
{% endblock %}
