{% extends 'main/base.html' %}
{% block title %}আমার কাস্টমার{% endblock %}

{% block content %}
<h1>আমার কাস্টমার</h1>
{% if customers %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">কাস্টমার আইডি</th>
        <th scope="col">রেজিস্ট্রেশন তারিখ</th>
        <th scope="col">কাস্টমারের নাম</th>
        <th scope="col">মোবাইল নম্বর</th>
        <th scope="col">ইমেইল ঠিকানা</th>
        <th scope="col">জন্ম তারিখ</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.created_at }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.birth_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ request.user.username }}, আপনার কোনো কাস্টমার পাওয়া যায়নি।</p>
{% endif %}
{% endblock %}
