{% extends 'main/base.html' %}
{% block title %}কাস্টমার{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
.btn {
  border: none;
  background-color: inherit;
  padding: 5px 5px;
  ont-size:36px
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #eee;
  color: green;
  }

.success {color: black;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
</style>

<h1><button class="btn success" onclick="window.location.href='{% url 'create_customer' %}'" style="font-size:38px;">আমার কাস্টমার <i class="material-icons" style="font-size:30px;">add_circle</i></button> </h1>

{% if customers %}
<br>
<table class="table">
  <thead>
    <tr>
        <th scope="col">কাস্টমার আইডি</th>
        <th scope="col">রেজিস্ট্রেশন তারিখ</th>
        <th scope="col">কাস্টমারের ছবি</th>
        <th scope="col">কাস্টমারের নাম</th>
        <th scope="col">মোবাইল নম্বর</th>
        <th scope="col">ইমেইল ঠিকানা</th>
        <th scope="col">জন্ম তারিখ</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.created_at }}</td>
        <td>
        {% if customer.img_url %}
            <img src="{{ customer.img_url.url }}" class="img-fluid customer_img" alt="Customer Image">
        {% else %}
            No image available
        {% endif %}
        </td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.birth_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ request.user.username }}, আপনার কোনো কাস্টমার পাওয়া যায়নি।</p>
{% endif %}
{% endblock %}
