<!-- invoice_history.html -->
{% extends 'main/base.html' %}
{% block title %}Invoice History{% endblock %}

{% block content %}
<h1>Invoice History</h1>
{% if user_invoices %}
    <ul>
    {% for invoice in user_invoices %}
        <li>Invoice ID: {{ invoice.id }} - Product: {{ invoice.product.title }} - Quantity: {{ invoice.quantity }} - Total Price: {{ invoice.total_price }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No invoice history found for {{ request.user.username }} .</p>
{% endif %}
{% endblock %}
