{% extends 'main/base.html' %}

{% block content %}
<div id="invoice-details" class="container mt-5">
    <h1>Bill Details:</h1>
    <table class="table">
        <tr>
            <td><strong>Invoice Number:</strong></td>
            <td>{{ invoice_number }}</td>
        </tr>
        <tr>
            <td><strong>Invoice Date:</strong></td>
            <td>{{ invoice_date }}</td>
        </tr>
    </table>

    <div><h2>Buyer</h2></div>
    <table class="table">
        <tr>
            <td><strong>Name:</strong></td>
            <td>{{ customer_name }}</td>
        </tr>
        <tr>
            <td><strong>Address:</strong></td>
            <td>{{ customer_address }}</td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td>
            <td>{{ customer_phone }}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ customer_email|default:"N/A" }}</td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th width="34%">Product</th>
            <th width="30%">Quantity</th>
            <th width="30%">Amount</th>
        </tr>
        {% for item in invoice_items %}
        <tr>
            <td>{{ item.product.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" class="text-right"><strong>Grand Total</strong></td>
            <td>{{ grand_total }}</td>
        </tr>
    </table>
</div>

<button onclick="printInvoice('invoice-details')" class="btn btn-primary mt-3">Print Bill</button>

<script type="text/javascript">
    function printInvoice(elementId) {
        var backupContent = document.body.innerHTML;
        var invoiceContent = document.getElementById(elementId).innerHTML;
        document.body.innerHTML = invoiceContent;
        window.print();
        document.body.innerHTML = backupContent;
    }
</script>

{% endblock %}
