<!-- invoice_history.html -->
{% extends 'main/base.html' %}
{% block title %}Invoice History{% endblock %}

{% block content %}
<h1>Invoice History</h1>
{% if user_invoices %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Invoice ID</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in user_invoices %}
    <tr>
      <td>{{ invoice.id }}</td>
      <td>{{ invoice.product.title }}</td>
      <td>{{ invoice.quantity }}</td>
      <td>{{ invoice.total_price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No invoice history found for {{ request.user.username }}.</p>
{% endif %}
{% endblock %}
