{% extends 'main/base.html' %}
{% block title %}Invoice History{% endblock %}

{% block content %}
<h1>অর্ডার তালিকা</h1>
{% if user_invoices %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">অর্ডার নং</th>
        <th scope="col">অর্ডারের তারিখ</th>
        <th scope="col">কাস্টমারের নাম</th>
        <th scope="col">মোবাইল নম্বর</th>
        <th scope="col">Total Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Items Bought</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in user_invoices %}
    <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.generated_on }}</td>
        <td>{{ invoice.customer.name }}</td>
        <td>{{ invoice.customer.phone }}</td>
        <td>{{ invoice.total_quantity }}</td>
        <td>{{ invoice.total_price }}</td>
        <td>{{ invoice.item_names }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No invoice history found for {{ request.user.username }}.</p>
{% endif %}
{% endblock %}
