{% extends 'main/base.html' %}
{% load static %}
{% block title %}আমার পণ্য{%endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
.btn {
  border: none;
  background-color: inherit;
  padding: 5px 5px;
  ont-size:36px
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #eee;
  color: green;
  }

.success {color: black;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
</style>

<h1><button class="btn success" onclick="window.location.href='{% url 'create_product' %}'" style="font-size:38px;">আমার কাস্টমার <i class="material-icons" style="font-size:30px;">add_circle</i></button> </h1>

<!--<div class="col-md-12">-->
<!--    <button type="submit" class="btn btn-primary" onclick="window.location.href='{% url 'create_product' %}'">পণ্য যোগ করুন</button>-->
<!--</div>-->
<div class="row">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card mt-3">
            <div class="card-header">
                <strong>{{ product.title }}</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="card-text">{{ product.description }}</p>
                        <h4 class="card-text">{{ product.selling_price }} টাকা</h4>
                        <p class="card-text">Updated at: {{ product.updated_at|date:"D d M Y" }}</p>
                    </div>
                    <div class="col-md-4">
                        {% if product.img_url %}
                        <img src="{{ product.img_url.url }}" class="img-fluid" alt="Product Image">
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-md-12">
        <h1></h1>
    </div>
    {% endfor %}
</div>
{% endblock %}
