{% extends 'main/base.html' %}
{% block title %}আমার সাপ্লাইয়ার{% endblock %}

{% block content %}
<h1>আমার সাপ্লাইয়ার</h1>
{% if suppliers %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">সাপ্লাইয়ার আইডি</th>
        <th scope="col">রেজিস্ট্রেশন তারিখ</th>
        <th scope="col">সাপ্লাইয়ারের নাম</th>
        <th scope="col">মোবাইল নম্বর</th>
        <th scope="col">ইমেইল ঠিকানা</th>
        <th scope="col">জন্ম তারিখ</th>
    </tr>
  </thead>
  <tbody>
    {% for supplier in suppliers %}
    <tr>
        <td>{{ supplier.id }}</td>
        <td>{{ supplier.created_at }}</td>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.phone }}</td>
        <td>{{ supplier.email }}</td>
        <td>{{ supplier.birth_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{{ request.user.username }}, আপনার কোনো সাপ্লাইয়ার পাওয়া যায়নি।</p>
{% endif %}
{% endblock %}
