<!-- Top bar -->
<div class="top_bar">
    <div class="usr_name">
    {% if user.is_authenticated %}
        <h1> স্বাগতম, {{ user.username }} </h1>
    {% endif %}
    </div>
    <div class="usr_controls">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">বের হন</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <button type="submit">প্রবেশ করুন</button>
            </form>
        {% endif %}
    </div>
</div>

<div class="top_second_bar">
  <div class="search-container">
    <form action="#">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
